<html>
    <head>
        <title> {%block title%}My title{% endblock %} </title>
    </head>
    
    <body>
        <!-- This navbar appears on EVERY page automatically -->
        <nav>

            <a href="/"> 🏠 Home </a>
            <a href="/Contact"> 👤 contact</a>
            <a href ="/about">📞 about</a>
        </nav>
        
        <hr>
            <!-- Each page fills THIS section differently -->
        {%block content%}
        <p> no content yet.</p>
        {% endblock %}
        <hr>
        <!-- This footer appears on EVERY page automatically -->
        <footer>Made with ❤️ using Django</footer>

</body>
</html>





    